<ul class="list-group mb-3 shadow-sm">
    <li class="list-group-item">
        <a href="/dashboard" class="text-dark">
            <i class="fas fa-home mr-1"></i>Dashboard</a>
    </li>
    <li class="list-group-item">
        <a href="/journals/add" class="text-dark">
            <i class="fas fa-pencil-alt mr-1"></i>Write a Journal</a>
    </li>
    <li class="list-group-item">
        <a href="/journals/personal" class="text-dark">
            <i class="fas fa-book mr-1"></i>My Journals</a>
    </li>
</ul>