body,
html {
  height: 100%;
  color: #444 !important;
}
a {
  text-decoration: none !important;
}
.list-group .list-group-item a {
  display: block;
}

/* BANNER */
.cover {
  height: 100%;
  margin-top: -56px;
  background: -moz-linear-gradient(
      to bottom,
      rgba(44, 44, 44, 0) 0%,
      rgba(44, 44, 44, 0) 100%
    ),
    url("/img/welcome.jpg") center center;
  background: -webkit-linear-gradient(
      to bottom,
      rgba(44, 44, 44, 0) 0%,
      rgba(44, 44, 44, 0) 100%
    ),
    url("/img/welcome.jpg") center center;
  background: -ms-linear-gradient(
      to bottom,
      rgba(44, 44, 44, 0) 0%,
      rgba(44, 44, 44, 0) 100%
    ),
    url("/img/welcome.jpg") center center;
  background: -o-linear-gradient(
      to bottom,
      rgba(44, 44, 44, 0) 0%,
      rgba(44, 44, 44, 0) 100%
    ),
    url("/img/welcome.jpg") center center;
  background: linear-gradient(
      to bottom,
      rgba(44, 44, 44, 0) 0%,
      rgba(44, 44, 44, 0) 100%
    ),
    url("/img/welcome.jpg") center center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cover-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* MEDIA QUERIES*/
/*small*/
@media (min-width: 567px) {
  .container {
    max-width: 540px !important;
  }
}
/*medium*/
@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}
/*large*/
@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}
/*Extra large*/
@media (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}
