<div class="cover">
    <div class="cover-text">
        <h1 class="mb-0 display-2 text-success font-weight-bold">JOURNe</h1>
        <p class="display-4 text-secondary mb-4">The online eJournal for everyone</p>

        {{#if user}}
        <a href="/journals/add" class="btn btn-success btn-lg">
            <i class="fas fa-pencil-alt mr-1"></i> Get Started
        </a>
        {{else}}
        <a href="/auth/google" class="btn btn-danger btn-lg">
            <i class="fab fa-google"></i> Login with Google
        </a>
        {{/if}}
    </div>
</div>